.mm-menu {
  height: 2.5rem;
  width: 100%;
  background-color: #5a5a5a;
}
.mm-menu ul {
  float: left;
  padding-left: 0.9375rem;
}
.mm-menu ul li {
  float: left;
  margin-left: 0.3125rem;
}
.mm-menu ul li a {
  color: #fff;
  line-height: 40px;
  display: block;
  font-size: 16px;
}
.mm-products {
  width: 100%;
}
.mm-products ul li {
  height: 10.625rem;
}
.mm-products ul li a {
  display: flex;
  justify-content: space-evenly;
}
.mm-products ul li a .list-left img {
  display: block;
  width: 9.375rem;
  height: 9.375rem;
}
.mm-products ul li a .list-right {
  padding-top: 0.625rem;
  margin-left: 0.625rem;
}
.mm-products ul li a .list-right h4 {
  color: #333;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875rem;
}
.mm-products ul li a .list-right h3 {
  color: #ed0000;
  font-size: 20px;
  font-weight: normal;
}
.mm-products ul li a .list-right .other {
  margin-top: 0.9375rem;
  font-size: 12px;
  color: #a1a1a1;
}
.mm-pages {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 0.625rem;
  height: 2.5rem;
}
.mm-pages div {
  width: 32.33%;
}
.mm-pages .last-page,
.mm-pages .next-page {
  display: block;
  width: 100%;
  line-height: 2.1875rem;
  text-align: center;
  background-color: #d4d4d4;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f1f1f1), to(#d4d4d4));
  box-shadow: 0 0 1px #666;
  color: #5a5a5a;
  font-size: 14px;
}
.mm-pages .page-select {
  width: 70%;
  margin-left: 15%;
  height: 2.1875rem;
}
